@media (min-width: 768px)
{
	div.header
	{
		background:#fff;
		background:rgba(255, 255, 255, 0.8);
	}

	#logo a
	{
		color:#333;
		border-color:rgba(0, 0, 0, 0.3);
	}


	body .navbar .nav > li > a, body#home .navbar .nav > li > a, .navbar .nav > li b, .navbar .nav > li.highlight > a
	{
		color:#333;
	}

	body#home .navbar .nav > li:hover > a
	{
		color:#333;
	}

	.sicons li a
	{
		color:#333;
	}
}
