div.sequence h2 {
  color:#fff;
}

div.sequence  .line {
  border-bottom: 2px solid #fff;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

div.sequence h3 {
  color:#fff;
}

div.sequence p {
    color:#fff;
}

div.sequence a.button
{
	color:#333;
	background:#fff;
}
