
.row.sort_show{
	border: 1px solid #eeeeee;
	margin: 0;
	background:#fff;
}
#input-sort, #input-limit{
	background:#fff;
	overflow:hidden;
	padding:0px;
    border: 1px solid #eeeeee;
    border-radius: 0;
}

.btn{
	font-family: Lato;
}
.navbar .navbar-brand{
	font-family: 'Lato';
}

body#home div#header
{
	background:transparent;
}
	
.navbar{
	font-family: 'Lato',sans-serif;
}
#top{
	background: #eee;
	background: none repeat scroll 0 0 rgba(245, 245, 245, 1);
	color: rgb(119, 119, 119);
	font-size: 11px;
	font-weight: 400;
}

#top .container-fluid
{
	line-height: 20px;
	padding: 7px 20px;
}

#top a {
  color: #333333;
}

body
{
	background:#fff;
}

.product
{
	background:#fff;
}

.product-info .image > a > img
{
	width:100%;
}

.tab-content {
  background: #ffffff;
  padding: 10px;
}

#logo{
	display:inline-block;
	font-family:Lato, 'Open Sans', sans-serif;
	padding:0;
	margin:20px auto 50px;
	text-align: center;
	border:none;
	border:3px solid #000;
}

#logo a{
	color: #333333;
	font-family: Montserrat;
	font-size: 18px;
	line-height:37px;
	font-weight:700;
	border-left:none;
	border-right:none;
	padding:0px;
	white-space:wrap;
	letter-spacing:10px;
	word-wrap: break-word;
}

#text-logo, #text-logo p
{
	margin:0px;
	width:55px;
}

#text-logo {
  margin: 10px 5px 10px 15px;
}

.product_wish_compare button 
{
  background: transparent;
}


.breadcrumb {
  padding:15px 15px 10px;
}

.product .actions
{
	display:none;
}

.product
{
	margin:0px;
}

.sicons {
  bottom: 50px;
  left:0px;
  font-weight: normal;
  width:220px;
  position: fixed;
  text-align: center;
  z-index:500;
  display:none;
}

.sicons li
{
	display: inline-block;
	padding:5px;
}

.sicons li a
{
	font-size:14px;
	color:#777;
}

.social-icons{
	margin:30px 0px;
	color:#000;
}
.social-icons i{
	margin:5px;
}
.search-col{
	margin-top:0px;
}
.navbar-search .search-query{
	border:none;
	box-shadow: none;
}
form.navbar-search > div.input-group > button{
	line-height: 0px;
	border:none;
}
.navbar .nav.cart > li > a span{
	font-family:Lato;
}
.cart{
	background:transparent;
	padding: 0px 0 0px 7px;
	margin:0px 0px 0px 10px;
	border:none;
}
/*
div.sequence-theme
{
	height:400px;
	position: static;
}
*/
/*
body#home #social_band
{
	display: none;
}
*/
#header > div 
{
	text-align:center;
}

@media (min-width: 768px)
{

	body#home #top{
		background: none repeat scroll 0 0 rgba(245, 245, 245, 0.85);
		left: 220px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 10;
	}
	
	.header{
		background:#fff;
		background:rgba(255, 255, 255, 0.8);
		height:100%;
		width:220px;
		left:0px;
		position:fixed;
		display:table;
		z-index:500;
		margin-top:0px;
	}

	.page-container,.footer,#social_band{
		margin-left:220px;
	}
	
	#header > div 
	{
		text-align:center;
	}

	div#header{
		padding:0% 0 50%;
		display:table-cell;
		vertical-align:middle;
		background:transparent;
	}
	
		
	#logo{
		display:inline-block;
		margin:20px 30px 50px 0px;
	}
	
	form.navbar-search > div.input-group > button
	{
		padding: 12px 16px 11px;
	}
	
	div.sequence-theme
	{
		z-index:1;
		height:100%;
		position: absolute;
	}

	.sequence > .sequence-canvas .container,.content
	{
	   padding-left: 220px;
	}

	.sicons 
	{
		display: block;
	}
		
		
	#input-sort select, #input-limit select{
		border:none;
		background:url('../img/dk_arrows.png') no-repeat right 35% center;
		width:140%;
		max-width:none;
		outline:none;
	}
	#input-sort select option, #input-limit select option{
		outline:none;
	}
	
	.navbar-center{
		left: 50%;
		margin-left: -100px;
		position: absolute;
	}
	.navbar-nav{
		margin-top:0px;
		margin-right:0px;
	}
	.dropdown-submenu{
		position:relative;
	}
	.dropdown-submenu > .dropdown-menu{
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}
	.dropdown-submenu:hover > .dropdown-menu{
		display:block;
	}
	.dropdown-submenu > a:after{
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:8px;
		margin-right:-10px;
	}
	.dropdown-submenu:hover > a:after{
		border-left-color:#ffffff;
	}
	.dropdown-submenu .pull-left{
		float:none;
	}
	.dropdown-submenu.pull-left > .dropdown-menu{
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}
	.nav > li > a:hover, .nav > li > a:focus{
		background-color:transparent;
	}
	
	.nav .open
	{
		background-color:#fff;
	}
	
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
		background-color:transparent;
		color:#333;
	}
	.navbar .dropdown-menu.multi-2-columns{
		width:400px;
	}
	.navbar .dropdown-menu.multi-2-columns li{
		float:left;
		width:200px;
	}
	.navbar .nav > li:hover > a{
		color: #000;
	}
	.navbar .dropdown-menu > li > a:hover{
		padding:8px 20px;
	}
	.navbar-search{
		padding:0 0px 0 0px;
		margin:0px;
	}
	.navbar-search .search-query, .navbar-search:hover .search-query,.navbar-search.expand .search-query, .search-query:focus{
		padding: 3px 15px;
		width: 150px;
		opacity:1;
		margin:0 0px 0 0px;
		background:#fff;
		border:1px solid #ddd;
		border:none;
		border-right:none;
		color:#555;
		line-height: 17px;
	}
	.navbar-search:hover ul.autocomplete.show, .search-query:focus + ul.autocomplete.show{
		display: block;
		opacity: 1;
	}
	.navbar .nav.cart > li > a{
		background-position: 0px 2px;
	}
	.navbar .nav.cart > li > a span{
		margin:0px;
	}
	::-webkit-input-placeholder{
		color: #bbb;
	}
	:-moz-placeholder{
		color: #bbb;
		opacity: 1;
	}
	::-moz-placeholder{
		color: #bbb;
		opacity: 1;
	}
	:-ms-input-placeholder{
		color: #bbb;
	}
	.dropdown-menu .divider{
		background: #fff;
		background: rgba(255, 255, 255, 0.95);
		border-bottom:1px solid #FFFFFF;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		margin:0px;
		padding:5px 1px;
		border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}
	.navbar .navbar-toggle{
		border-color:transparent;
	}
	.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color:#fff;
		margin:0px 20px;
	}
	.nav li + .dropdown-header{
		margin-top:0px;
	}
	.dropdown-header{
		text-shadow:none;
		text-transform:uppercase;
	}
	.dropdown .dropdown-menu .dropdown-header{
		background:#fff;
		background: rgba(255, 255, 255, 0.95);
		padding:10px 20px 0px;
		color:#999;
		font-weight:600;
		font-size:11px;
		text-shadow: 0 0 1px #EEEEEE;
	}
	.navbar .dropdown-menu{
		margin-top: 0px;
	}
	div.navbar{
		margin:0px auto 0px;
		border:none;
		border-radius:0px;
		box-shadow:none;
		display:inline-block;
		vertical-align:middle;
	}
	div.navbar p{
		font-size:12px;
	}
	.navbar .nav > li{
		padding: 10px 0px 10px;
		float:none;
	}
	.navbar .nav > li:hover{
		background: #fafafa;
		color:#333;
	}
	.white .navbar .nav > li:hover{
		background: #fff;
		color:#545557;
	}
	.navbar .nav > li.highlight > a{
		color:#444;
	}
	.navbar .nav > li > a{
		text-shadow:none;
		font-family: Lato,Montserrat, Helvetica, Arial;
		color: #777;
		display: block;
		font-size: 12px;
		font-weight:400;
		letter-spacing: 1px;
		line-height: 20px;
		position: relative;
		padding:0px 12px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		z-index: 6;
	}
	body#home .navbar .nav > li > a
	{
		color:#555;
	}
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
		background: rgba(255, 255, 255, 0.05);
		box-shadow:none;
		border-bottom:2px solid #333;
		border-bottom:2px solid rgba(0, 0, 0, 0.5);
		padding-bottom: 1px;
	}
	.navbar .nav > li b{
		color: #ccc;
		font-size: 6px;
		line-height: 12px;
		margin-bottom: 3px;
		margin-left: 0px;
		vertical-align: middle;
	}
	.navbar .btn-navbar{
		margin-top:15px;
	}
	.respond input[type="text"], .respond label,.respond textarea{
		width:300px;
	}
	.menu .row{
		margin:0px;
	}
	.menu .navbar .nav{
		margin-left:10px;
	}
	.powered .row{
		margin:0px;
		width:100%;
		padding:0px;
	}
	.page-container{
		font-size:12px;
	}
	.footer{
		display:block;
		padding:0px 0px 70px;
		width:auto;
	}
/*	#home .footer{
		display: none;
	}*/
	.order-notes textarea{
		width:440px;
	}
	.dropdown:hover > .dropdown-menu{
		display:block;
	}
	.dropdown-menu{
		margin:0px;
		z-index:9999999;
		border-radius:0px;
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;
	}
	.white ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;
		background-color:#fff;
		color:#333;
	}
	ul.nav li.dropdown-submenu:hover ul.dropdown-menu{
		border-top:none;
	}
	a.menu:after, .dropdown-toggle:after{
		content: none;
	}
}

.category_module{
	margin-bottom:20px;
}
div.category_module{
	padding:20px 30px;
}
.category_module li{
	margin-bottom: 5px;
}
.category_module a{
	font-family: PT Sans;
	margin-bottom: 5px;
}
.left-menu .category_module h3{
	font-family:'Open Sans', Lato;
}

.heading h2{
	font-family: 'Lato',sans-serif;
}
.product .name a{
	font-family:Lato,'Open Sans', Arial,Lato;
}
.product .price{
	font-family:Lato;
}
.footer{
	background:#fafafa;
}
.footer h3{
	font-family: 'Lato','Open sans', Helvetica, Arial;
}
.social{
	font-family: Lato;
}
.social-network{
	font-family: Lato;
}
#social_band{
	background:#fff;
	border-top:1px solid #eee;
}
#social_band h3{
	font-family:Lato;
}
.cat_header h2{
	font-size:16px;
	line-height:16px;
	font-family:Montserrat;
	letter-spacing:1px;
}

#list-view, #grid-view{
	color: #999;
}
.location h3{
	font-family:'Lato',sans-serif;
}
.contact_form h3{
	font-family:'Lato',sans-serif;
}
h3{
	color: #333;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
}
.product-info h1{
	color: #333;
	letter-spacing:5px;
	font-family: Lato,'Open Sans',sans-serif;
}
.product-info li span{
	color:#999;
}
.tabs .nav-tabs li a{
	font-family:Lato;
}
.success, .warning, .attention, .information{
	line-height:24px;
}
.grid_item > div > div > div > h2{
	font-family:PT Sans, Lato;
	font-family:PT Sans,Lato;
}
.grid_item > div > div > div > a{
	font-family:Lato;
}
@media(max-width:767px)
{
	.screen_right{
		display:none;
	}
	.nav-tabs > li{
		float:none;
	}
	.footer,.social{
		text-align:center;
	}
	.newsletter div{
		float:none;
		text-align:left;
	}
	.cart{
		display:inline-block;
		margin-top: 5px;
	}
	.navbar{
		margin:20px 0px;
		background:#fafafa;
	}
	.navbar-search .search-query, .navbar-search.expand .search-query{
		width:45px;
	}
	.navbar-header{
		background:#f5f5f5;
	}
}
@media(min-width:768px)
{
	.screen_right{
		display:none;
	}
	.navbar .nav > li > a{
		padding:0 5px;
	}
	.navbar .nav > li{
		padding:10px 0;
		text-align:left;
	}
	.navbar-search .search-query, .navbar-search.expand .search-query{
		width:100px;
	}
	div#sequence .controls{
		margin:0 auto 0 -375px;
	}
	.navbar-collapse{
		padding:0px;
	}
	.grid_item > div{
		padding:10px;
	}
	.grid_list{
		margin:0px;
		margin-bottom:20px;
		left:auto;
	}
	.grid_item > div > div > div > h3{
		display: inline-block;
	}
	.grid_item > div > div > div > h2{
		font-size: 14px;
		letter-spacing:1.5px;
		line-height: 22px;
		width:auto;
	}
	.grid_item > div > div{
		border: 1px solid rgba(255,255,255,0.5);
	}
	.filters li{
		background:#fff;
		width:auto;
		font-size:11px;
	}
}
@media(min-width:992px)
{
	.navbar .nav > li > a{
		padding: 0px 5px;
	}
	.navbar .nav .list-unstyled li a{
		line-height: 20px;
		padding: 3px 0;
		margin:0px;
	}
	
	.navbar .nav .list-unstyled li p a {
		margin: 0;
		padding: 0;
	}
	
	.navbar-search .search-query, .navbar-search.expand .search-query{
		width:150px;
	}
	div#sequence .controls{
		margin:0 auto 0 -585px;
	}
	.navbar-collapse{
		z-index:10000;
		float:right;
	}
	.search-col{
		margin-left:10px;
	}
	.screen_right{
		display:block;
		z-index:2;
	}
}
@media(min-width:1200px)
{
	.navbar-search.search2 .search-query{
		width:450px;
	}
}
@media (min-width: 768px)
{
	.sidebar-nav .navbar .navbar-collapse{
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul.navbar-nav{
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li{
		float: none;
		display: block;
	}
	.sidebar-nav .dropdown{
		position:relative;
	}
	.sidebar-nav .dropdown>.dropdown-menu{
		top:0;
		left:100%;
		margin-top:1px;
		margin-left:0px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}
	.sidebar-nav .dropdown:hover>.dropdown-menu{
		display:block;
	}
	.sidebar-nav .dropdown > a:after{
		content: ".";
		display: block;
		float: right;
		font-family: FontAwesome;
		font-size: 10px;
		font-weight: normal;
		height: 0;
		margin-right: -10px;
		margin-top: 0;
		width: 0;
		color:#ccc;
	}
	.sidebar-nav .dropdown:hover>a:after{
		border-left-color:#ffffff;
	}
	.sidebar-nav .dropdown.pull-left{
		float:none;
	}
	.dropdown.pull-left>.dropdown-menu{
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}
	.sidebar-nav .yamm .dropdown.yamm-fw .dropdown-menu{
		left: auto;
		right: auto;
		width:100%;
	}
	.sidebar-nav .navbar-toggle{
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.sidebar-nav .navbar-collapse{
		background:#f5f5f5;
	}
	.sidebar-nav .navbar .nav > li{
		border:none;
		border-bottom:1px solid #eee;
		border-top:1px solid #fff;
	}
	.sidebar-nav .navbar .nav > li > a{
		color:#555;
		font-size:12px;
		font-weight:600;
		text-transform:capitalize;
	}
	.sidebar-nav .navbar .nav > li:hover{
		background:#eee;
		color:#fff;
	}
	.sidebar-nav ul.nav li.dropdown:hover > ul.dropdown-menu, .sidebar-nav .navbar .dropdown-menu{
		background:#fff;
		border:1px solid #eee;
		border-radius:0px;
	}
	.sidebar-nav .navbar .dropdown-menu > li > a, .sidebar-nav .navbar .dropdown-menu > li > a:focus{
		background: #f5f5f5;
		color: #333;
		border-bottom:1px solid #eee;
		border-top:1px solid #fff;
	}
	.sidebar-nav .navbar .dropdown-menu > li > a:hover{
		background: #000;
		color: #fff;
	}
	.sidebar-nav .yamm .yamm-content{
		color:#333;
	}
	.sidebar-nav .yamm .yamm-content a{
		color:#333;
	}
	
	.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .mega.dropdown {
		position: relative;
	}
	
	.yamm .dropdown.yamm-fw .dropdown-menu,.navbar .dropdown-menu 
	{
	  border-top: none;
	  top:0px;
	  left:100%;
	}
	
	.yamm .yamm-content 
	{
	  background: rgba(255, 255, 255, 0.98);
	  min-height:150px;
	}


	html[dir=rtl] .header
	{
		right:0px;
		left:auto;
	}

	html[dir=rtl] body #top, html[dir=rtl] body#home #top
	{
		margin-left: 0px;
		margin-right: 220px;
		left:0px;
	}

	html[dir=rtl]  .page-container, html[dir=rtl]  .footer, html[dir=rtl]  #social_band
	{
		margin-left: 0px;
		margin-right: 220px;
	}

	html[dir=rtl] #header > div {
	  padding-left: 20px;
	  padding-right: 0px;
	}

	html[dir=rtl] .yamm .dropdown.yamm-fw .dropdown-menu, html[dir=rtl] .navbar .dropdown-menu {
	  left: auto;
	  right: 100%;
	}

	html[dir=rtl] .dropdown-submenu > a:after {
	  border-color: rgba(0, 0, 0, 0) #cccccc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
	  border-width: 5px;
	  margin-left: -10px;
	  margin-right: auto;
	  margin-top: 4px;
	  float:left;
	}

	html[dir=rtl] .sequence > .sequence-canvas .container, html[dir=rtl] .content {
	  padding-left: 0px;
	  padding-right: 220px;
	}

	html[dir=rtl] .screen_right 
	{
		position: fixed;
		right: auto;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 40px;
	}

	html[dir=rtl] .screen_right div .sideblock
	{
		margin-bottom:10px;
		position:relative;
		clear:both;
		transition: all 0.5s ease-in-out;
		z-index:1;
		left:0px;
		right:auto;
		left:-300px;
	}

	html[dir=rtl] .screen_right div .sideblock:hover
	{
		right:auto !important;
		left:0px !important;
		z-index:1000;
		transition: all 0.5s ease-in-out;
	}

	html[dir=rtl] .screen_right div .sideblock .body
	{
		left:0px !important;
	}

	html[dir=rtl] .screen_right div .sideblock .head
	{
		float:right;
	}

	html[dir=rtl] .sicons
	{
		right:0px;
		left:auto;
	}

	html[dir=rtl] .close-content
	{
		right:auto;
		left:0px;
	}

}
.blog-item .readmore{
	font-family: Lato;
}
.blog-title > a{
	font-family: Lato;
}


.prod.col-md-1, .prod.col-md-2, .prod.col-md-3, .prod.col-md-4, .prod.col-md-5, .prod.col-md-6, .prod.col-md-7, .prod.col-md-8, .prod.col-md-9, .prod.col-md-10, .prod.col-md-11, .prod.col-md-12 
{
  transition: width 1s ease 0s;
  padding:0px;
}

.product .image > a > img, #zoom1 > img, .slides img
{
	width:100%;
}


/*
#container
{
	background:#eee;
}
*/
#container.effect .product 
{
/*    position: absolute;*/
    animation-duration: .3s;
    animation-timing-function: ease;
    opacity: 0;
/*
   -webkit-animation-fill-mode:both;
   -moz-animation-fill-mode:both; 
   -o-animation-fill-mode:both; 
   -ms-animation-fill-mode:both;
   animation-fill-mode:both;*/    

   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards; 
   -o-animation-fill-mode:forwards; 
   -ms-animation-fill-mode:forwards;
   animation-fill-mode:forwards;

}

/* zoomIn */

#container.effect_zoomIn .product {
    animation-name: zoomIn;
    -webkit-animation-name: zoomIn;
}

@keyframes zoomIn {
    0% { opacity: 0; transform: scale(2); }
    100% { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes  zoomIn {
    0% { opacity: 0; -webkit-transform: scale(2); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

/* zoomOut */

#container.effect_zoomOut .product {
    animation-name: zoomOut;
    -webkit-animation-name: zoomOut;
}

@keyframes zoomOut {
    0% { opacity: 0; transform: scale(.4); }
    100% { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes zoomOut {
    0% { opacity: 0; -webkit-transform: scale(.4); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

/* fadeIn */

#container.effect_fadeIn .product {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* slideLeft */

#container.effect_slideLeft .product {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
}

@keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

@-webkit-keyframes slideLeft {
    0% { opacity: 0; left: -30px; }
    100% { opacity: 1; left: 0; }
}

/* slideRight */

#container.effect_slideRight .product {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
}

@keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

@-webkit-keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

/* slideTop */

#container.effect_slideTop .product {
    animation-name: slideTop;
    -webkit-animation-name: slideTop;
}

@keyframes slideTop {
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

@-webkit-keyframes slideTop {
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

/* slideBottom */

#container.effect_slideBottom .product {
    animation-name: slideBottom;
    -webkit-animation-name: slideBottom;
}

@keyframes slideBottom {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-webkit-keyframes slideBottom {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

/* flip */

#container.effect_flip .product {
    animation-name: flip;
    -webkit-animation-name: flip;
    backface-visibility: visible !important;
}

@keyframes flip {
    0% { opacity: 0;
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out; }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out; }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in; }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in; }
    100% {
        opacity: 1;
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in; }
}

@-webkit-keyframes flip {
    0% { opacity: 0;
        -webkit-transform: perspective(400px) rotateY(0);
        -webkit-animation-timing-function: ease-out; }
    40% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
        -webkit-animation-timing-function: ease-out; }
    50% {
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        -webkit-animation-timing-function: ease-in; }
    80% {
       -webkit-transform: perspective(400px) rotateY(360deg) scale(0.95);
        -webkit-animation-timing-function: ease-in; }
    100% {
        opacity: 1;
        -webkit-transform: perspective(400px) scale(1);
        -webkit-animation-timing-function: ease-in; }
}
/* flipInX */

#container.effect_flipInX .product {
    animation-name: flipInX;
    -webkit-animation-name: flipInX;
    backface-visibility: visible !important;
}

@keyframes flipInX {
    0% { opacity: 0; transform: perspective(400px) rotateX(85deg); }
    40% { transform: perspective(400px) rotateX(-20deg); }
    70% { transform: perspective(400px) rotateX(15deg); }
    90% { transform: perspective(400px) rotateX(-5deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes flipInX {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(85deg); }
    40% { -webkit-transform: perspective(400px) rotateX(-20deg); }
    70% { -webkit-transform: perspective(400px) rotateX(15deg); }
    90% { -webkit-transform: perspective(400px) rotateX(-5deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

/* flipInY */

#container.effect_flipInY .product {
    animation-name: flipInY;
    -webkit-animation-name: flipInY;
    backface-visibility: visible !important;
}

@keyframes flipInY {
    0% { opacity: 0; transform: perspective(400px) rotateY(80deg); }
    40% { transform: perspective(400px) rotateY(-20deg); }
    70% { transform: perspective(400px) rotateY(10deg); }
    90% { transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

@-webkit-keyframes flipInY {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(80deg); }
    40% { -webkit-transform: perspective(400px) rotateY(-20deg); }
    70% { -webkit-transform: perspective(400px) rotateY(10deg); }
    90% { -webkit-transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}
/* bounceIn */

#container.effect_bounceIn .product {
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
}

@keyframes bounceIn {
    0% { opacity: 0; transform: scale(.3); }
    50% { transform: scale(1.05); }
    70% { transform: scale(.9); }
    100% { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes bounceIn {
    0% { opacity: 0; -webkit-transform: scale(.3); }
    50% { -webkit-transform: scale(1.05); }
    70% { -webkit-transform: scale(.9); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

/* bounceInUp */

#container.effect_bounceInUp .product {
    animation-name: bounceInUp;
    -webkit-animation-name: bounceInUp;
}

@keyframes bounceInUp {
    0% { opacity: 0; transform: translateY(2000px); }
    60% { transform: translateY(-30px); }
    80% { transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@-webkit-keyframes bounceInUp {
    0% { opacity: 0; -webkit-transform: translateY(2000px); }
    60% { -webkit-transform: translateY(-30px); }
    80% { -webkit-transform: translateY(10px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

/* bounceInDown */

#container.effect_bounceInDown .product {
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
}

@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-2000px); }
    60% { transform: translateY(30px); }
    80% { transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

@-webkit-keyframes bounceInDown {
    0% { opacity: 0; -webkit-transform: translateY(-2000px); }
    60% { -webkit-transform: translateY(30px); }
    80% { -webkit-transform: translateY(-10px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
/* bounceInLeft */

#container.effect_bounceInLeft .product {
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
}

@keyframes bounceInLeft {
    0% { opacity: 0; transform: translateX(-2000px); }
    60% { transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { opacity: 1; transform: translateX(0); }
}

@-webkit-keyframes bounceInLeft {
    0% { opacity: 0; -webkit-transform: translateX(-2000px); }
    60% { -webkit-transform: translateX(30px); }
    80% { -webkit-transform: translateX(-10px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}


/* bounceInRight */

#container.effect_bounceInRight .product {
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
}

@keyframes bounceInRight {
    0% { opacity: 0; transform: translateX(2000px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(10px); }
    100% { opacity: 1; transform: translateX(0); }
}

@-webkit-keyframes bounceInRight {
    0% { opacity: 0; -webkit-transform: translateX(2000px); }
    60% { -webkit-transform: translateX(-30px); }
    80% { -webkit-transform: translateX(10px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}


/* pageLeft */

#container.effect_pageLeft .product {
    animation-name: pageLeft;
    -webkit-animation-name: pageLeft;
    transform-origin: 0% 50%;
}

@keyframes pageLeft {
    0% { opacity: 0; transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

@-webkit-keyframes pageLeft {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}
/* pageLeftBack */

#container.effect_pageLeftBack .product {
    animation-name: pageLeftBack;
    -webkit-animation-name: pageLeftBack;
    transform-origin: 0% 50%;
}

@keyframes pageLeftBack {
    0% { opacity: 0; transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

@-webkit-keyframes pageLeftBack {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

/* pageRight */

#container.effect_pageRight .product {
    animation-name: pageRight;
    -webkit-animation-name: pageRight;
    transform-origin: 100% 50%;
}

@keyframes pageRight {
    0% { opacity: 0; transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}


@-webkit-keyframes pageRight {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

/* pageRightBack */

#container.effect_pageRightBack .product {
    animation-name: pageRightBack;
    -webkit-animation-name: pageRightBack;
    transform-origin: 100% 50%;
}

@keyframes pageRightBack {
    0% { opacity: 0; transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}

@-webkit-keyframes pageRightBack {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

/* pageTop */

#container.effect_pageTop .product {
    animation-name: pageTop;
    -webkit-animation-name: pageTop;
    transform-origin: 50% 0%;
}

@keyframes pageTop {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes pageTop {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

/* pageTopBack */

#container.effect_pageTopBack .product {
    animation-name: pageTopBack;
    -webkit-animation-name: pageTopBack;
    transform-origin: 50% 0%;
}

@keyframes pageTopBack {
    0% { opacity: 0; transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes pageTopBack {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

/* pageBottom */

#container.effect_pageBottom .product {
    animation-name: pageBottom;
    -webkit-animation-name: pageBottom;
    transform-origin: 50% 100%;
}

@keyframes pageBottom {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes pageBottom {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}


/* pageBottomBack */

#container.effect_pageBottomBack .product {
    animation-name: pageBottomBack;
    -webkit-animation-name: pageBottomBack;
    transform-origin: 50% 100%;
}

@keyframes pageBottomBack {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes pageBottomBack {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

/* starwars */

#container.effect_starwars .product {
    animation-name: starwars;
    -webkit-animation-name: starwars;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}

#container.left #container.effect .product
{
    animation-name:none;
    -webkit-animation-name: none;
}

@keyframes starwars {
    0% { opacity: 0; transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    60% { opacity: 1; transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; transform: perspective(200px) scale(1) rotateX(0deg) }
}


@-webkit-keyframes starwars {
    0% { opacity: 0; -webkit-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    60% { opacity: 1; -webkit-transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; -webkit-transform: perspective(200px) scale(1) rotateX(0deg) }
}

.navbar .nav .list-unstyled li a 
{
  margin: 2px 0;
  padding: 3px 5px;
}

.navbar .nav .list-unstyled li a:hover 
{
    background: #eee;
}

.left-menu > div.category_module ul li a 
{
    padding: 2px 5px;
}

.left-menu > div.category_module ul li a:hover 
{
    background: #fff;
}
